<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Книга рецептов</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Рецепты</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Список покупок</a></li>
        <li routerLinkActive="active"><a routerLink="/ingredient-list">Список продуктов</a></li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor:pointer" class="dropdown-toggle" role="button">Управление <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer" (click)="onLoadData()">Получить данные</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
